body {
  background-color: #f1f1f1;

}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #000000;
  margin-top: 60px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 2em;
  margin-top: 20px;
}

.row {
  margin-top: 1px;
}

coingecko-coin-ticker-widget {
  display: inline-block;
  margin-top: 10px;
  font-size: 1.2em;
  width: 90vw;
  max-width: 400px;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 20px;
}

coingecko-coin-ticker-widget .coingecko-ticker span {
  color: #333;
}

coingecko-coin-ticker-widget .coingecko-ticker {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
  font-size: medium;

  color: #000000;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .container {
    padding: 10px;
  }
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #6d6c6c;
  border-radius: 6px;
}

body::-webkit-scrollbar-track {
  background-color: #3a3a3a;
}

body::-moz-scrollbar {
  width: 12px;
}

body::-moz-scrollbar-thumb {
  background-color: #6d6c6c;
  border-radius: 6px;
}

body::-moz-scrollbar-track {
  background-color: #3a3a3a;
}